.principal {
  display: grid;
  max-width: 1100px;
  gap: 25px;
  margin: 0 auto;
  grid-template-areas:
    "photo photo new"
    "title text new";
}

.principal-photo img {
  max-width: 100%;
  grid-area: photo;
}
.title {
  grid-area: title;
}
.principal-content {
  grid-area: text;
}
.new {
  grid-area: new;
}
